<!DOCTYPE html>
<html ⚡4email data-css-strict>
  <head>
    <meta charset="utf-8" />
    <script async src="https://cdn.ampproject.org/v0.js"></script>
    <script
      async
      custom-template="amp-mustache"
      src="https://cdn.ampproject.org/v0/amp-mustache-0.2.js"
    ></script>
    <script
      async
      custom-element="amp-list"
      src="https://cdn.ampproject.org/v0/amp-list-0.1.js"
    ></script>
    <script
      async
      custom-element="amp-form"
      src="https://cdn.ampproject.org/v0/amp-form-0.1.js"
    ></script>
    <script
      async
      custom-element="amp-bind"
      src="https://cdn.ampproject.org/v0/amp-bind-0.1.js"
    ></script>

    <style amp4email-boilerplate>
      body {
        visibility: hidden;
      }
    </style>
    <style amp-custom>
      h1 {
        margin: 1rem;
      }

      .list {
        position: relative;
      }

      .item-wrapper {
        padding: 8px;
      }

      .item {
        display: flex;
        flex-direction: column;
        padding: 8px;
        border-radius: 16px;
        border: 1px solid black;
      }

      .item div {
        padding-right: 10px;
      }

      .item-header {
        display: flex;
        min-height: 7rem;
        justify-content: space-between;
        flex-wrap: wrap;
        padding: 8px;
        border: 1px solid black;
        border-radius: 4px;
      }
      .item-header-actions {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
      }
      .item-header-actions button {
        margin: 4px;
        width: 60px;
      }

      .edit-actions {
        display: flex;
        flex-direction: row-reverse;
        padding: 8px;
      }
      .edit-actions button {
        margin: 8px;
      }

      .service-edit-actions {
        display: flex;
        flex-direction: row-reverse;
        padding: 8px;
      }
      .service-edit-actions button {
        margin: 8px;
      }

      label {
        display: flex;
        justify-content: space-between;
      }
      input,
      select {
        min-width: 8ch;
        width: 28ch;
      }

      .modal {
        position: absolute;
        width: 128px;
        left: 20%;

        background-color: white;
        padding: 32px;
        border: 1px solid black;
        border-radius: 16px;
      }
      .hidden {
        display: none;
      }
    </style>
  </head>

  <body>
    <div>
      <h3>Szia Lajos!</h3>
      <p>Számláidat sétáltatod? Hát bazmeg!</p>
    </div>

    <div>
      <amp-list
        src="[[.ApiUrl]]/api/invoices?token=[[.Token]]"
        id="invoiceList"
        binding="no"
        layout="fixed-height"
        single-item
        items="."
        height="10"
      >
        <template type="amp-mustache">
          {{#items}}
          <div class="item-wrapper">
            <div class="item item-view" id="{{invoiceId}}-item-view">
              <div class="item-header">
                <div>
                  <div>ID: {{invoiceId}}</div>
                  <div>Status: {{status}}</div>
                  <div>Received at: {{receivedAt}}</div>
                  <br />
                  <div>Vendor Name: {{vendorName}}</div>
                  <div>Vendor Email: {{vendorEmail}}</div>
                  <div>Iban: {{iban}}</div>
                  <div>Bank account: {{accountNumber}}</div>
                  <br />
                  <div>Gross Price: {{grossPrice}} {{currency}}</div>
                </div>
                <div class="item-header-actions">
                  <div>
                    <form
                      method="post"
                      action-xhr="[[.ApiUrl]]/api/invoices/status?token=[[.Token]]"
                      on="submit-success:invoiceList.refresh"
                    >
                      <input
                        type="hidden"
                        name="invoiceId"
                        value="{{invoiceId}}"
                      />
                      <input
                        type="hidden"
                        name="status"
                        value="[[.Accepted]]"
                      />
                      <button type="submit">Accept</button>
                      <div submit-success>Accept successful.</div>
                      <div submit-error template="submit_error_template"></div>
                    </form>
                    <form
                      method="post"
                      action-xhr="[[.ApiUrl]]/api/invoices/status?token=[[.Token]]"
                      on="submit-success:invoiceList.refresh"
                    >
                      <input
                        type="hidden"
                        name="invoiceId"
                        value="{{invoiceId}}"
                      />
                      <input
                        type="hidden"
                        name="status"
                        value="[[.Rejected]]"
                      />
                      <button
                        type="button"
                        on="tap:{{invoiceId}}-reject-modal.show"
                      >
                        Reject
                      </button>
                      <div class="modal" id="{{invoiceId}}-reject-modal" hidden>
                        <div>
                          <div submit-error>Reject failed.</div>
                          <div submit-success>Reject successful.</div>
                        </div>
                        <div>Are you sure about that?</div>
                        <button type="submit">Yes king</button>
                        <button
                          type="button"
                          on="tap:{{invoiceId}}-reject-modal.hide"
                        >
                          No, please I enjoy this invoice so much
                        </button>
                      </div>
                    </form>
                  </div>

                  <button
                    on="tap:{{invoiceId}}-item-edit.show,{{invoiceId}}-item-view.hide"
                  >
                    Edit
                  </button>
                </div>
              </div>

              <div class="item-content">
                <div>
                  <div>Invoice Number: {{invoiceNumber}}</div>
                  <div>Net Price: {{netPrice}} {{currency}}</div>
                  <div>Gross Price: {{grossPrice}} {{currency}}</div>
                  <div>Vat Amount: {{vatAmount}} {{currency}}</div>
                  <div>Vat Rate: {{vatRate}}</div>
                  <br />
                  <div>Due: {{dueDate}}</div>
                  <div>
                    <div>
                      <p>Services:</p>
                    </div>
                    {{#services}}
                    <div>
                      <div>Name: {{name}}</div>
                      <div>Amount: {{amount}}</div>
                      <div>Unit: {{unit}}</div>
                      <div>Unit Net Price: {{unitNetprice}}</div>
                      <div>Net price: {{netPrice}}</div>
                      <div>Gross Price: {{grossPrice}}</div>
                      <div>Currency: {{currency}}</div>
                      <div>Vat Amount: {{vatAmount}}</div>
                      <div>Vat Rate:{{vatRate}}</div>
                    </div>
                    {{/services}}
                  </div>
                </div>
              </div>
            </div>

            <div class="item item-edit" id="{{invoiceId}}-item-edit" hidden>
              <div class="item-header">
                <div>
                  <div>{{invoiceId}} {{status}}</div>
                  <div>Received at: {{receivedAt}}</div>
                </div>
                <div class="item-header-actions">
                  <div>
                    <form>
                      <button disabled>Accept</button>
                    </form>
                    <form>
                      <button disabled>Reject</button>
                    </form>
                  </div>
                  <button disabled>Edit</button>
                </div>
              </div>

              <div class="item-content">
                <form
                  method="post"
                  action-xhr="[[.ApiUrl]]/api/invoices/data?token=[[.Token]]"
                  on="submit-success:invoiceList.refresh"
                >
                  <input type="hidden" name="invoiceId" value="{{invoiceId}}" />
                  <fieldset>
                    <legend>Invoice details</legend>
                    <label>
                      Invoice Number:
                      <input
                        type="text"
                        name="invoiceNumber"
                        value="{{invoiceNumber}}"
                      />
                    </label>
                    <label>
                      Due Date:
                      <input
                        type="text"
                        name="dueDate"
                        value="{{dueDate}}"
                        pattern="\d{4}-\d{2}-\d{2}"
                      />
                    </label>
                  </fieldset>

                  <fieldset>
                    <legend>Vendor details</legend>

                    <label>
                      Vendor Name:
                      <input
                        type="text"
                        name="vendorName"
                        value="{{vendorName}}"
                      />
                    </label>
                    <label>
                      Vendor Email:
                      <input
                        type="email"
                        name="vendorEmail"
                        value="{{vendorEmail}}"
                      />
                    </label>

                    <label>
                      Iban:
                      <input
                        type="text"
                        name="iban"
                        value="{{iban}}"
                        pattern="\b[A-Z]{2}[0-9]{2}(?:[ -]?[0-9]{4}){4,6}(?!(?:[ ]?[0-9]){3})(?:[ ]?[0-9]{1,2})?\b"
                      />
                    </label>

                    <label>
                      Account Number:
                      <input
                        type="text"
                        name="accountNumber"
                        value="{{accountNumber}}"
                        pattern="^[0-9]{8}-[0-9]{8}(-[0-9]{8})?$"
                      />
                    </label>
                  </fieldset>

                  <fieldset>
                    <legend>Prices</legend>
                    <label>
                      Net Price:
                      <input
                        type="number"
                        min="0"
                        step="any"
                        name="netPrice"
                        value="{{netPrice}}"
                      />
                    </label>
                    <label>
                      Gross Price:
                      <input
                        type="number"
                        min="0"
                        step="any"
                        name="grossPrice"
                        value="{{grossPrice}}"
                      />
                    </label>
                    <label>
                      Currency:
                      <select name="currency">
                        <option value="{{currency}}" selected>
                          {{currency}}
                        </option>
                        <option value="EUR">EUR</option>
                        <option value="HUF">HUF</option>
                        <option value="USD">USD</option>
                      </select>
                    </label>
                    <label>
                      Vat Amount:
                      <input
                        type="number"
                        min="0"
                        step="any"
                        name="vatAmount"
                        value="{{vatAmount}}"
                      />
                    </label>
                    <label>
                      Vat Rate:
                      <input type="text" name="vatRate" value="{{vatRate}}" />
                    </label>
                  </fieldset>

                  <fieldset>
                    <legend>Services</legend>
                    {{#services}}
                    <fieldset>
                      <legend>{{name}}</legend>

                      <div style="margin-bottom: 16px">
                        <label
                          >Name:
                          <input
                            type="text"
                            name="service_name_{{index}}"
                            value="{{name}}"
                        /></label>
                        <label
                          >Amount:
                          <input
                            type="number"
                            min="0"
                            step="any"
                            name="service_amount_{{index}}"
                            value="{{amount}}"
                        /></label>
                        <label
                          >Unit:
                          <input
                            type="text"
                            name="service_unit_{{index}}"
                            value="{{unit}}"
                        /></label>
                        <label
                          >Unit Net Price:
                          <input
                            type="number"
                            min="0"
                            step="any"
                            name="service_unitNetprice_{{index}}"
                            value="{{unitNetprice}}"
                        /></label>
                        <label
                          >Net price:
                          <input
                            type="number"
                            min="0"
                            step="any"
                            name="service_netPrice_{{index}}"
                            value="{{netPrice}}"
                        /></label>
                        <label
                          >Gross Price:
                          <input
                            type="number"
                            min="0"
                            step="any"
                            name="service_grossPrice_{{index}}"
                            value="{{grossPrice}}"
                        /></label>
                        <label
                          >Currency:
                          <select name="service_currency_{{index}}">
                            <option value="{{currency}}" selected>
                              {{currency}}
                            </option>
                            <option value="EUR">EUR</option>
                            <option value="HUF">HUF</option>
                            <option value="USD">USD</option>
                          </select>
                        </label>
                        <label
                          >Vat Amount:
                          <input
                            type="number"
                            min="0"
                            step="any"
                            name="service_vatAmount_{{index}}"
                            value="{{vatAmount}}"
                        /></label>
                        <label
                          >Vat Rate:<input
                            type="text"
                            name="service_vatRate_{{index}}"
                            value="{{vatRate}}"
                        /></label>
                      </div>
                    </fieldset>
                    {{/services}}
                  </fieldset>

                  <div class="edit-actions">
                    <button type="submit">Save</button>
                    <button
                      type="button"
                      on="tap:{{invoiceId}}-item-edit.hide,{{invoiceId}}-item-view.show"
                    >
                      Cancel
                    </button>
                    <div submitting>Save in progress.</div>
                    <div submit-success>Save successful.</div>
                    <div submit-error template="submit_error_template"></div>
                  </div>
                </form>
              </div>
            </div>
          </div>
          {{/items}}
          <form
            class="{{^items}}hidden{{/items}}"
            method="POST"
            action-xhr="[[.ApiUrl]]/api/invoices/accept_all?token=[[.Token]]"
            on="submit-success:invoiceList.refresh"
          >
            {{#items}}
            <input type="hidden" name="{{invoiceId}}" value="accept" hidden />
            {{/items}}
            <input type="submit" value="Accept all" />
          </form>
          {{^items}}
          <div>Nincs több pàlinka. Elfogyott.</div>
          <amp-img
            alt="Pocok logo"
            src="[[.PocokLogo]]"
            width="200px"
            height="200px"
          >
          </amp-img>
          {{/items}}
        </template>
        <template type="amp-mustache" id="submit_error_template">
          Oops! {{message}}.
        </template>
      </amp-list>
    </div>
  </body>
</html>
